WordCruncherWP7/WordCruncherWP7/WordCruncherWP7/SampleData/highScoresData/highScoresData.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:tns="Expression.Blend.SampleData.highScoresData" xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" targetNamespace="Expression.Blend.SampleData.highScoresData" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="highScoresData" type="tns:highScoresData" />
  <xs:complexType name="highScoresData">
    <xs:sequence>
      <xs:element name="Collection" type="tns:ItemCollection" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ItemCollection">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="Item" type="tns:Item" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Item">
    <xs:attribute blend:FormatParameters="1,8" name="Opponent" type="xs:string" />
    <xs:attribute name="Result" type="xs:boolean" />
    <xs:attribute blend:FormatParameters="3" name="YourScore" type="xs:double" />
    <xs:attribute blend:FormatParameters="3" name="OpponentsScore" type="xs:double" />
  </xs:complexType>
</xs:schema>